.home-container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center; 
}

h2 {
    text-align: center;
    color: #c97e7e;
}

.questions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
